* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.global_div {
    margin: 32px 96px 222px 32px;
}

body {
    background-image: url('/static/обои.png');
    background-size: cover;        /* растягивает на весь экран без искажений */
    background-repeat: no-repeat;  /* без плиток */
    background-position: center;   /* центрирует изображение */
    background-attachment: fixed;  /* фиксирует фон при прокрутке */
    margin: 0;
    min-height: 100vh; 
}

/* Иконка сайта */

.avatar {
    display: flex;
}

img {
    margin-right: 3px;
}

.img_text {
    width: 101px;
    height: 26px;
    margin-top: 7px;
    color: #FFFFFF;
}

.img_avatar {
    height: 32px;
    width: 32px;
}

/* Окно регистрации */

.Log_in{
    margin: 190px 64px 190px 64px;
}

.login_text {
    height: 44px;
    width: 123px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

input {
    width: 399px;
    height: 59px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}

.button_login {
    width: 399px;
    height: 54px;
    background-color: #367AFF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: ease 0.5s;
    border: #19bce4;
}

.button_login:hover {
  background-color: white;
  color: #19bce4;
}

.New_account {
    margin-top: 20px;
    display: flex;
    width: 399px;
    height: 27px;
}

.new_account_text {
    margin-right: 3px;
    color: #FFFFFF;
}

.new_account_button {
    width: 100px;
    height: 25px;
    background-color: #367AFF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: ease 0.5s;
    border: #19bce4;
}

.new_account_button:hover {
  background-color: white;
  color: #19bce4;
}
